.slick-track { 
display: flex;
align-items: flex-start;
}

.slick-list {
    overflow: hidden;
}

.main_slider {
    position: relative;
}

.main_slider .slick-arrow {
    position: absolute;
    bottom: 30px;
    z-index: 20;
    font-size: 0;
    width: 46px;
    height: 46px;
    background-color: #E5E6EC;
}

.main_slider .slick-arrow.slick-prev {
right: 115px;
background-image: url('../img/svg/chevron-prev.svg');
background-repeat: no-repeat;
background-position: center;
}

.main_slider .slick-arrow.slick-next {
right: 44px;
background-image: url('../img/svg/chevron-next.svg');
background-repeat: no-repeat;
background-position: center;
}

.partners_slider {
    position: relative;
}

.partners_slider .slick-arrow {
    position: absolute;
    top: -56px;
    z-index: 20;
    font-size: 0;
    background-color: transparent;
}

.partners_slider .slick-arrow.slick-next {
    right: 0;
    background-image: url('../img/svg/grey-chevron-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 6px;
    height: 12px;
   
}

.partners_slider .slick-arrow.slick-prev {
    right: 46px;
    background-image: url('../img/svg/grey-chevron-prev.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 6px;
    height: 12px;
}